
# Ignore all the results
results/*

# Ignore the genereted events
event_generation/simulatedEvents/*
event_generation/inputData/events_*

bfield/*.root
bfield/*.txt

*.png
*.root
*.txt
*.out
geometry/geomMuonsLongSetup/*
geometry/geomVTNA60p/*        

*.so
*.d
*.pcm
*.pnf
*.pdf

*/*.so
*/*.d
*/*.pcm
*/*.pnf
*/*.pdf

*/*/*.so
*/*/*.d
*/*/*.pcm
*/*/*.pnf
*/*/*.pdf

